<server description="Sample Liberty server">
    <!--enable required features-->
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jms-2.0</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
    </featureManager>
    <!--set the context root -->
    <webApplication location="appsrv.war" contextRoot="appsvc/appsrv/" />
</server>
